{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p> Welcome to Imri's Blog</p>
        <p>GO visit me at my website <a href="https://www.ynet.co.il/PicServer4/2015/11/18/6643528/33big.jpg">ImriNiv.com</a> to check out more new stuff</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}